$primary-color: rgb(222, 99, 26);

.images-gallery {
    .imageGallery1 {
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    .imageGallery1> * {
        flex: 1 1 calc(20% - 20px); /* Each item takes 25% of the row width minus the gap */
        max-width: calc(25% - 20px); /* Optional: Prevent items from exceeding 25% */
        box-sizing: border-box; /* Ensures padding/margin are included in size */
        overflow: hidden;

        @media only screen and (max-width: 1199px) {
            flex: none;
        }
        @media only screen and (max-width: 769px) {
            max-width: calc(50% - 20px);
        }

        img {
            width: 100%;
        }
      }
}
